In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [2]:
engine = create_engine("sqlite:///obesity.sqlite")

In [3]:
Base = declarative_base()

In [4]:
class Obese(Base):
    
    __tablename__ = 'obese'

    id = Column(Integer, primary_key=True)
    LocationA = Column(Text)
    Location = Column(Text)
    Obesity = Column(Float)
    
    #def __repr__(self):
        #return f"id={self.id}, name={self.station}"

In [5]:
class Ffood(Base):
    
    __tablename__ = 'ffood'

    id = Column(Integer, primary_key=True)
    Location = Column(Text)
    Number = Column(Float)

In [6]:
!rm obesity.sqlite

In [7]:
Base.metadata.create_all(engine)

In [8]:
engine.table_names()

['ffood', 'obese']

In [9]:
def populate_table(engine, table, csvfile):
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_of_data_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    data = df_of_data_to_insert.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    #conn.execute(table.delete())

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)

populate_table(engine, Obese.__table__, 'data1.csv')
populate_table(engine, Ffood.__table__, 'ff-data.csv')

In [12]:
engine.execute("SELECT * FROM ffood LIMIT 1").fetchall()

[(1, 'AL', 3561.0)]